@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin-bottom: 0;
}
body{
background-color: rgb(250, 250, 250);
font-family: 'Poppins', sans-serif;
}
header{
    margin: 5px auto;
    max-width: 550px;
    text-align: center;
}
h3{
 font-weight: 600;
 margin: 0;   
}
.parent-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}
.box{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;
    position: relative;
    margin: 15px;
    width: 350px; 
}
.box p{
    color: rgb(136, 133, 133);
}
.box::after {
    content: '';
    height:5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box-cyan::after{
    background-color: rgb(69, 211, 211);
}
.box-red::after{
    background-color: rgb(234, 83, 83);
}
.box-blue::after{
    background-color:rgb(84, 158, 242);
}
.box-orange::after{
    background-color:rgb(252, 175, 74);
}

.box img{
    display: block;
    margin-left: auto;
}

.box-push{
    transform: translateY(50%);
}
header p, label{
    font-size: 14px;
    color: rgb(136, 133, 133);
}
header h3:nth-child(2){
    font-size:1.22rem;
   font-weight: 600;
}
header h3:nth-child(1){
    font-weight: 100;
    color: rgb(136, 133, 133);
}
@media (max-width:775px) {
    .box-push{
        transform: translateY(0)
    }
}
.box-cyan h2:hover {
    color: rgb(69, 211, 211)
}
.box-red h2:hover {
    color: rgb(234, 83, 83)
}
.box-blue h2:hover {
    color: rgb(84, 158, 242)
}
.box-orange h2:hover {
    color: rgb(252, 175, 74);
}
.box p{
    font-size: 14px;
    margin: 15px 0 10px;
}
.box:hover p{
    color: rgb(188, 184, 184)
}
.box:hover img{
    transform: scale(1.1);
}